<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="stylesheet" href="/static/css/style_404.css">
    <title>error</title>
</head>
<body>
    <header>
        <a href="https://learn.zone01oujda.ma/" target="_blank"><img src="/static/img/logo.png"
                alt="zone01oujda web site"></a>
        <h2>ASCII ART WEB ZONE 01</h2>
    </header>
    <div class="hero">
        <div class="content">
            <h3>404 Not Found</h3>
            <p>Got lost? Find back your ascii art web web page:</p>
            <a href="/">GO BACK</a>
        </div>
    </div>
      <!-- the footer -->
      <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Learn more about our project and mission to bring ASCII art to the web.</p>
                <p style="color: #4c8bf5; font-size: 15px; text-transform: capitalize;">made with love by students of Zone01 Oujda</p>
                <a href="https://learn.zone01oujda.ma/" target="_blank"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <div class="footer-section">
                <h3>CONTACT US BY EMAIL</h3>
                <p>boubkerelmaayouf@gmail.com</p>
                <p>yassineouzddou@gmail.com</p>
                <p>fadil.ue2006@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 ASCII ART WEB. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>