<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/favicon-16x16.png">
    <link rel="stylesheet" href="/static/css/style_Usage.css">
    <title>usage</title>
</head>
<body>
    <header>
        <a href="https://learn.zone01oujda.ma/" target="_blank"><img src="/static/img/logo.png"
                alt="zone01oujda web site"></a>
        <h2>ASCII ART WEB ZONE 01</h2>
    </header>
    <div class="hero">
        <div class="content">
            <h3>HERE YOU CAN FIND THE USAGE OF THIS WEB APP</h3>
            <p>
                <strong>Selecting a Banner and Providing Input:</strong><br>
                - Visit the application's homepage.<br>
                - Choose a banner from the available options or leave it as the default "standard" banner.<br>
                - In the input section, type in the desired text. For instance, "HELLO WORLD".<br>
                - Press the "Generate" button.
            </p>
            <p>
                <strong>Using Default Settings:</strong><br>
                - Access the application.<br>
                - Proceed with the default "standard" banner.<br>
                - Enter text in the input field, such as "ASCII ART".<br>
                - Click on "Generate".
            </p>
            <p>
                <strong>Ignoring Unsupported Input:</strong><br>
                - Open the application.<br>
                - Select a specific banner option.<br>
                - Enter text that's not supported by the banners file, like emojis or special characters.<br>
                - Even though the input contains unsupported characters, proceed by pressing "Generate".
            </p>
            <p>
                <strong>Reviewing Output:</strong><br>
                - After generating, the ASCII art banner corresponding to the provided input appears in the output section.<br>
                - Users can copy or download the generated ASCII art for their use.
            </p>
            <p>
                <strong>Accessing Information:</strong><br>
                - Explore the "/about" endpoint to learn more about the application, its features, and its purpose.<br>
                - Refer to the "/usage" endpoint for detailed instructions on how to effectively use the program.
            </p>
            <a href="/">GO BACK</a>
        </div>
    </div>
      <!-- the footer -->
      <footer class="footer">
        <div class="footer-container">
            <div class="footer-section">
                <h3>About Us</h3>
                <p>Learn more about our project and mission to bring ASCII art to the web.</p>
                <p style="color: #4c8bf5; font-size: 15px; text-transform: capitalize;">made with love by students of Zone01 Oujda</p>
                <a href="https://learn.zone01oujda.ma/" target="_blank"><img src="/static/img/logo.png" alt=""></a>
            </div>
            <div class="footer-section">
                <h3>CONTACT US BY EMAIL</h3>
                <p>boubkerelmaayouf@gmail.com</p>
                <p>yassineouzddou@gmail.com</p>
                <p>fadil.ue2006@gmail.com</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 ASCII ART WEB. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>